[submodule "SchoolRankingBack"]
	path = BackEnd
	url = https://github.com/Aziz-Hlel/SchoolRankingBack.git
[submodule "SchoolRankingFront"]
	path = Frontend
	url = https://github.com/Aziz-Hlel/SchoolRankingFront.git
