[submodule "SchoolRankingBack"]
	path = SchoolRankingBack
	url = https://github.com/Aziz-Hlel/SchoolRankingBack.git
[submodule "SchoolRankingFront"]
	path = SchoolRankingFront
	url = https://github.com/Aziz-Hlel/SchoolRankingFront.git
