[submodule "SchoolRankingFront"]
	path = Frontend
	url = https://github.com/Aziz-Hlel/SchoolRankingFront.git
[submodule "Backend"]
	path = Backend
	url = https://github.com/Aziz-Hlel/SchoolRankingBack.git
