services:
  proxy:
    container_name: schoolranking-reverse-proxy
    build:
      context: ${PROJECT_ROOT}
      dockerfile: docker/prod/Dockerfile.caddy.multi.prod
      args:
        VITE_API_URL: ${API_URL}
        VITE_NODE_ENV: ${NODE_ENV}

    expose:
      - 8000

    volumes:
      - schoolranking-caddy-data:/data
      - schoolranking-caddy-config:/config

    restart: unless-stopped

    networks:
      - default

  api:
    build:
      context: ${PROJECT_ROOT}
      dockerfile: docker/prod/Dockerfile.api.prod
    restart: unless-stopped
    environment:
      PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      DATASOURCE_USERNAME: ${POSTGRES_USER}
      DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      SERVER_PORT: ${SERVER_PORT}
      JAVA_OPTS: -Xmx1g -Xms512m
    depends_on:
      - db

    networks:
      - default

  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - schoolranking-postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER}']
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s

    networks:
      - default

  db-backup:
    container_name: schoolranking-db-backup
    build:
      context: ${PROJECT_ROOT}
      dockerfile: docker/dev/Dockerfile.dbBackup.dev
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      DB_CONTAINER_NAME: db

    volumes:
      - ${PROJECT_ROOT}/backup:/backup
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

    networks:
      - default

volumes:
  schoolranking-postgres-data:
  schoolranking-caddy-data:
  schoolranking-caddy-config:

networks:
  default:
    name: schoolranking-network
